<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3"
	preserve-order="true">
	<listeners>
		<listener class-name="com.qa.listeners.CustomTestNGReporter" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="com.qa.demo.tests.GoogleTest" />
		</classes>
	</test> <!-- Test -->
	<test name="Test2">
		<classes>
			<class name="com.qa.demo.tests.YahooTest" />
		</classes>
	</test> <!-- Test -->
	<test name="Test3">
		<classes>
			<class name="com.qa.demo.tests.FBTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
